@import "tailwindcss";

@keyframes pingOnce {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pingOnce {
  animation: pingOnce 0.4s ease-in-out;
}